<div class="max-w-5x1 flex-col lg:flex-row gap-4 items-center">
  <form [formGroup]="form" class="w-full lg:w-1/2 p-4">

    <h1 class="text-lg font-bold text-slate-800 pb-4"> {{edit ? 'Editar comida': 'Añadir nueva comida'}}</h1>

    <!--CAMPO DE NOMBRE-->
    <div class="w-full">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nombre de la comida</mat-label>
        <input matInput placeholder="Ejem. Pizza" type="text" formControlName="name">
        @if (name?.valid && (name?.dirty || name?.touched)) {
        <mat-error>
          @if (name?.hasError('required')) {
          <span class="text-xs">Este campo es requerido</span>
          }
          @if (name?.hasError('minlength')) {
          <span class="text-xs">
            Minímo de caracteres requeridos es de {{name?.getError('minlength').requiredLength}}, tienes
            {{name?.getError('minlength').actualLength}}
          </span>
          }
        </mat-error>
        }
      </mat-form-field>
    </div>

    <!--CAMPO DE DESCRIPCIÓN-->
    <div class="w-full">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Descripción</mat-label>
        <input matInput placeholder="Ejem. Pizza" type="text" formControlName="description">
        @if (description?.valid && (description?.dirty || description?.touched)) {
        <mat-error>
          @if (description?.hasError('required')) {
          <span class="text-xs">Este campo es requerido</span>
          }
          @if (description?.hasError('minlength')) {
          <span class="text-xs">
            Minímo de caracteres requeridos es de {{description?.getError('minlength').requiredLength}}, tienes
            {{description?.getError('minlength').actualLength}}
          </span>
          }
        </mat-error>
        }
      </mat-form-field>
    </div>

    <!--CAMPO DE IMAGEN-->
    <div class="w-full">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>URL de la imagen</mat-label>
        <input matInput placeholder="Ejem. Pizza" formControlName="image">
        @if (image?.valid && (image?.dirty || image?.touched)) {
        <mat-error>
          @if (image?.hasError('required')) {
          <span class="text-xs">Este campo es requerido</span>
          }
        </mat-error>
        }
      </mat-form-field>
    </div>


    <!--CAMPO DE CATEGORIA-->
    <div class="w-full">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option [value]="'drink'">Bebida</mat-option>
          <mat-option [value]="'food'">Comida</mat-option>
        </mat-select>
        @if (category?.valid && (category?.dirty || category?.touched)) {
        <mat-error>
          @if (category?.hasError('required')) {
          <span class="text-xs">Este campo es requerido</span>
          }
        </mat-error>
        }
      </mat-form-field>
    </div>

    <!--CAMPO DE PRECIO-->
    <div class="w-full">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Precio</mat-label>
        <input matInput placeholder="Ejem. Pizza" type="number" formControlName="price">
        @if (price?.valid && (price?.dirty || price?.touched)) {
        <mat-error>
          @if (price?.hasError('required')) {
          <span class="text-xs">Este campo es requerido</span>
          }
          @if (price?.hasError('min')) {
          <span class="text-xs">
            El valor minímo es de {{price?.getError('min').min}}, el valor actual es de
            {{price?.getError('min').actual}}
          </span>
          }
        </mat-error>
        }
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="edit ? updateData() : sendData()">{{edit
      ? 'Actualizar':'Enviar'}} </button>
  </form>

  <div class="w-full lg:w-1/2">
    <img class="aspect-video object-cover bg-no-repeat rounded-lg" src="{{image?.value}}" alt="">
  </div>

</div>